{% extends 'base.html.twig' %}

{% block title %}Answer index{% endblock %}

{% block body %}
    <h1>Answer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SubmittedDateTime</th>
                <th>Result</th>
                <th>ChosenType</th>
                <th>WrittenText</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.submittedDateTime ? answer.submittedDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ answer.result ? 'Yes' : 'No' }}</td>
                <td>{{ answer.chosenType }}</td>
                <td>{{ answer.writtenText }}</td>
                <td>
                    <a href="{{ path('app_answer_show', {'id': answer.id}) }}">show</a>
                    <a href="{{ path('app_answer_edit', {'id': answer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_answer_new') }}">Create new</a>
{% endblock %}
