{% extends 'base.html.twig' %}

{% block title %}Question | Liste à contrôler{% endblock %}

{% block body %}

<div class="container">
    <h1>Liste des questions en attente d'être vérifiées</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Numéro de la question</th>
                <th>Date de soumission</th>
                <th>Contenu</th>
                <th>Type</th>
                <th>Valid</th>
                <th>Traité?</th>
                <th>Publieur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.createDateTime ? question.createDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ question.text }}</td>
                <td>{{ question.type }}</td>
                <td>{{ question.valid ? 'Yes' : 'No' }}</td>
                <td>{{ question.checked ? 'Yes' : 'No' }}</td>
                <td>{% for user in question.users %}
                    {{user.username}}
                    {% endfor %}</td>
                <td>
                    <a href="{{ path('app_question_show', {'id': question.id}) }}">show</a>
                    <a href="{{ path('app_question_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
