{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <div class="container mt-3 rounded border border-primary bg-light ">
        <h2>Détail de question n° {{ question.id }}</h2>
        <table class="table">
            <tbody>
            <tr>
                <th>Numéro de la question</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ question.createDateTime ? question.createDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Texte de la question</th>
                <td>{{ question.text }}</td>
            </tr>
            <tr>
                <th>Bonne réponse</th>
                <td>{{ question.trueAnswer }}</td>
            </tr>
            <tr>
                <th>Première mauvaise réponse</th>
                <td>{{ question.wrongAnswer1 }}</td>
            </tr>
            <tr>
                <th>Deuxieme mauvaise réponse</th>
                <td>{{ question.wrongAnswer2 }}</td>
            </tr>
            <tr>
                <th>Troisième mauvaise réponse</th>
                <td>{{ question.wrongAnswer3 }}</td>
            </tr>
            <tr>
                <th>Type de question</th>
                <td>{{ question.type }}</td>
            </tr>
            <tr>
                <th>Fichier média (et affichage du média)</th>
                <td>{{ uploadedFilesPath }}{{ question.attachmentPath }} </br>
                <img style="width:150px" src="{{ uploadedFilesPath }}{{ question.attachmentPath }}" alt="image">
                </td> 
                
                    
            
            </tr>
            <tr>
                <th>Validé</th>
                <td>{{ question.valid ? 'Oui' : '' }}
                {% if (question.valid == false) and (question.denied == null) %}
                <button class="btn btn-success">
                <a style="color: white" href="{{ path('app_validate_question', {'id': question.id}) }}">Valider la question?</a>
                </button>
                <button class="btn btn-danger" onclick="displayReasonRefusal()">
                {# DANS LE BUT DE AJOUTER UN MOTIF}
                {# {% block javascripts %}
                    <script type="text/javascript">
                        function displayReasonRefusal() {
                        let data = window.prompt('Quelle est la réponse ?');
                        const Http = new XMLHttpRequest();
                        const url='https://127.0.0.1:8000/refuse/';
                        Http.open("POST", url);
                        Http.send(data);
                                                        } 
                    </script>
                {% endblock %} #}

                <a style="color: white" href="{{ path('app_refuse_question', {'id': question.id}) }}">Refuser la question?</a>
                </button>
                {% endif %}

                </td>
            </tr>
            </tbody>
        </table>
        <a href="{{ path('app_question_edit', {'id': question.id}) }}">Modifier</a>

    </div>
    <div class="container">

    </div>
{% endblock %}
