{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des utilisateurs</h1>
        <table class="table">
            <thead>
            <tr>

                <th>Username</th>
                <th>Roles</th>

                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.roles[0]|replace({ROLE_ADMIN: "Admin", ROLE_USER: "Joueur", ROLE_PUBLISHER: "Publicateur" }) }}</td>

                    <td>|
                        <a href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>|
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>|
                        {% if user.roles[0] == "ROLE_USER" %}
                            <a href="{{ path('app_user_promote_publisher', {'id': user.id}) }}">Promouvoir
                                publicateur</a>|
                        {% elseif user.roles[0] == "ROLE_PUBLISHER" %}
                            <a href="{{ path('app_user_revoke_publisher', {'id': user.id}) }}">Destituer
                                publicateur</a>|
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="17">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
